body {
  position: relative;
}

.navbar-item-custom,
.navbar-item-custom a {
  color: #fff;
}

.footer-custom {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: beige;
  padding-top: 25px;
  margin-top: 50px;
}

.product-item h5 {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 1px;
}

.product-item .product-subtitle {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

.product-item .product-price {
  font-size: 15px;
  font-weight: bold;
}

.cart-icon {
  height: 20px;
  padding-left: 20px;
}
